// import font
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');


// reset css
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

.main  {
     display: flex;
     flex-direction: row;

     .menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        min-width: 240px;
        height: 100vh;
        // background-color: #655447;
        background-color: #8a7f80;

        .avatar {
            display: flex;
            border: #696969 solid 6px;
            border-radius: 15%;
            margin: 80px auto 10px auto;
            width: 140px;
            height: 140px;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .avatar-name {
            text-align: center;

            p {
                font-family: 'Birthstone', cursive;
                font-size: 30px;
                color: #fff;
            }
        }

        .menu-content {
            display: flex;
            flex-direction: column;
            width: 160px;
            margin-top: 60px;
            margin-left: auto;
            margin-right: auto;

            li {
                text-decoration: none;
                list-style: none;
                margin: 20px;
                font-size: 16px;

                a {
                    font-size: 20px;
                    color: #ccc;
                    text-decoration: none;
                }
            }
        }

        .menu-footer {
            margin-top: 360px;
            width: 100%;
            color: #696969;

            .menu-footer-icon {
                font-size: 20px;
                text-align: center;

                a {
                    color: #696969;
                }
            }

            .menu-footer-text {
                margin-top: 10px;
                text-align: center;
            }
        }


    }
   
    .content {
        margin-left: 240px;
        width: 100%;
        height: 100vh;
        // overflow-y: scroll;

        .home {
            position: relative;
            height: 100vh;
            background: url(../img/Background/TonyWithDoiSoiSunRise.jpg) top center / cover no-repeat;
            background-attachment: fixed;
            
            .home-background {
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .home-content {
                position: absolute;
                color: white;
                right: 100px;
                bottom: 480px;
                width: 100%;
                text-align: right;

                .home-name {
                    font-family: 'Mr Dafoe', cursive;
                    font-size: 80px;
                    font-weight: 200;
                }

                .home-describe {
                    font-family: 'Tomorrow', sans-serif;
                    font-size: 20px;
                    letter-spacing: 1px;
                }
            }
        }

        #about {
            display: flex;
            font-size: 20px;
            height: 100vh;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            justify-content: center;
            background: url(../img/Background/about-background-5.jfif) center / cover no-repeat;

            .about-border-decor {
                position: relative;
                width: 1000px;
                border-radius: 60px;
                margin-bottom: 80px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 80px;
                padding: 40px;
                border: solid 4px rosybrown;
                background-color: #fff;

                .about-header {
                    position: absolute;
                    height: 50px;
                    top: 54px;
                    left: 0;
                    right: 0;
                    background: #fff;

                    .about-header-text {
                        letter-spacing: 5px;
                        font-family: 'Michroma', sans-serif;
                        text-align: center;

                    }
                }

                .about-header-underline {
                    // right: 450px;
                    // top: 96px;
                    // border-top: solid 2px #655447;
                    margin-bottom: 30px;
                    // position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    width: 160px;
                    height: 80px;
                    border: solid 2px #ddadaf;
                }

                .about-intro-text {
                    padding: 20px 26px 0 26px;
                    text-align: justify;
                }
    
                .about-info {
                    position: relative;
                    margin-top: 40px;
                    margin-left: 80px;
                    display: flex;
                    flex-direction: row;
    
                    .about-picture {
                        display: flex;
                        width: 400px;
                        border-bottom-left-radius: 20px;
                        border-top-right-radius: 20px;
                        // border-bottom: solid 6px #ddadaf;
                        // border-top: solid 6px #ddadaf;
                        overflow: hidden;

                        .about-picture-decor-left {
                            position: absolute;
                            height: 100px;
                            width: 100px;
                            top: -12px;
                            left: -12px;
                        }
    
                        .about-picture-decor-right {
                            position: absolute;
                            height: 100px;
                            width: 100px;
                            top: 298px;
                            left: 202px;
                        }

                        img {
                            width: 100%;
                        }
                    }
    
                    .about-detail-info {
                        position: relative;
                        margin-top: 40px;
                        margin-left: 60px;
                        margin-bottom: 40px;
                        padding: 40px;
                        padding-top: 60px;
                        border-left: solid 2px #6b8091;
    
                        p {
                            letter-spacing: 1px;
                            font-weight: 900;
                            margin-bottom: 16px;
                            margin-left: 10px;
    
                            span {
                                font-weight: 200;
                            }
                        }
    
                        .line-decor-1 {
                            margin-top: 60px;
                            width: 400px;
                            border-top: solid 2px #e9a417;
                        }

                        .line-decor-2 {
                            top: 280px;
                            right: 200px;
                            position: absolute;
                            width: 300px;
                            border-top: solid 2px rosybrown;
                
                        }
                    }
                }
    
                .about-footer {
                    text-align: center;
                    margin-top: 60px;
                    font-family: 'Birthstone', cursive;
                    font-size: 36px;
                }

            }
        }    
    }
 }